.avatar-large {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin:0 auto;

}

@media (max-width: 768px) {
  .avatar-large {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 375px) {
  .avatar-large {
      height: 100px;
      width: 100px;
  }
}
