.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-left: 10%;
}

.navbar-dark {
  background-color: #020202;
}

.navbar-nav .nav-link {
  font-size: 1.2em;
}

.navbar-nav .btn {
  font-size: 1.2em;
  border-radius: 5px;
}

.dropdown-menu {
  display: none;
  background-color: #343a40;
  border: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #495057;
  color: #fff;
}

.admin-login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-login input {
  width: 180px;
  padding: 10px 15px;

  color: white;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);

  border: 2px solid #9d4edd;
  border-radius: 999px;

  outline: none;

  transition: all 0.3s ease;
}

.admin-login input::placeholder {
  color: rgba(255,255,255,0.7);
}

.admin-login button {
  border: none;

  padding: 10px 18px;

  border-radius: 999px;

  background: #9d4edd;
  color: white;

  cursor: pointer;

  transition: all 0.3s ease;
}

.admin-login button:hover {
  transform: translateY(-2px);
}

#login-status {
  color: lightgreen;
  font-size: 0.9rem;
}

.admin-login input.logged-in {
  border-color: #00ff88;
  box-shadow: 0 0 15px rgba(0,255,136,0.5);
}

.admin-login button.logged-in {
  background: #00c853;
}