@media (max-width: 768px) {

  .modal-footer {
    display: flex;
    justify-content: center;
  }
}

/* Very small screens (e.g., iPhone Mini) */
@media (max-width: 375px) {
  .modal-dialog {
    max-width: 95%; /* Further limit modal width for very small screens */
    margin: 5px auto;
  }

  #chart {
    margin: 5px; /* Reduce margin further for very small screens */
    width: 100%; /* Ensure chart takes full width of modal */
  }

  svg {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }

  .modal-body {
    padding: 5px; /* Further reduce padding for very small screens */
  }

  .modal-footer {
    display: flex;
    justify-content: center;
  }
}
