@import url('navbar.css');
@import url('banner.css');
@import url('avatar.css');
@import url('social-icons.css');
@import url('container.css');
@import url('chart.css');
/* @import url('pop_up.css'); */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #525252;
    color: #333;
}
